body{
    background-image: url(media/wallpaper.jpg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}   
.b{
    position: absolute;
    bottom: 4vi;
    right: 0;
    width:22vi;
    height: 32vi;
    
}
.sol{
    position: absolute;
    width: 12vi;
    left: 18vi;
    animation-name: sol;
    opacity: 5;
    animation-duration:5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
}
@keyframes sol {
    0%{opacity: 10%;}
    100%{opacity: 100%;}
}