body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.seccion1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    background-color:aquamarine;
    box-sizing: border-box;
    width: 100vi;
    height: 100vb;
}
.dino{
    background-color: cornflowerblue;
    grid-column: 1;
    grid-row: 1;
}
.lets{
    background-color: darkmagenta;
    grid-column: 1;
    grid-row: 2;
}
.believe{
    background-color: crimson;
    grid-column: 2;
    grid-row: 1 /2;
}
.little{
    background-color: deeppink;
    grid-column: 1;
    grid-row: 3;
}