@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fuentes/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('fuentes/OpenSans-Semibold.ttf') format('truetype');
}
body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    width: 1920px;
    height: 1080px;
}
/*------------------------Menu-------------------------------*/
.menu{
    position: absolute;
    width: 1810px;
    top: 43px;
    height: 44px;
}
.logo{
    position: absolute;
    left: 50px;
    width: 196px;
    height: 44px;
    background: transparent;
    background-repeat: no-repeat;
    opacity: 1;
}
.ComprarTarjeta{
    position: absolute;
    text-decoration: none;
    left: 1212px;
    font-family:'OpenSans-Regular';
    font-size: 30px;
    color: #000000;
    width: 230px;
    height: 41px;
}
.VerSaldo{
    position: absolute;
    text-decoration: none;
    left: 1484px;
    font-family:'OpenSans-Regular';
    font-size: 30px;
    color: #000000;
    width: 132px;
    height: 41px;

}
.lupa{
    position: absolute;
    top: 9px;
    left: 1658px;
    width: 27px;
    height: 27px;
    background: transparent;
    background-repeat: no-repeat;
    opacity: 1;
}
.carrito{
    position: absolute;
    top: 8px;
    left: 1727px;
    width: 33px;
    height: 32px;
    background: transparent;
    background-repeat: no-repeat;
    opacity: 1;
}
/*----------------------Tarjeta-----------------------------*/
.linea{
    position: absolute;
    width: 146px;
    top: 106px;
    left: 1260px;
    background: transparent;
    background-repeat: no-repeat;
    opacity: 1;
}
.tarjeta{
    position: absolute;
    top: 250px;
    left: 450px;
    width: 884px;
    height: 497px;
    background: transparent;
    background-repeat: no-repeat;
    opacity: 1;
}
/*-------------------------Tarjeta Saldo------------------------------*/
.tarjetametro{
    position: absolute;
    top: 926px;
    width: 1810px;
    height: 114px;
}
.tarjetasaldo{
    position: absolute;
    bottom: 20px;
    left: 58px;
    font-family:'OpenSans-Semibold';
    font-size: 40px;
    color: #000000;
    width: 716px;
    height: 55px;
    opacity: 1;
}
.cop{
    position: absolute;
    top: 35px;
    left: 57px;
    font-family:'OpenSans-Semibold';
    font-size: 27px;
    color: #000000;
    width: 140px;
    height: 37px;
    opacity: 1;
}
.cuadro{
    position: absolute;
    left: 1550px;
    width: 160px;
    height: 114px;
    background-color: #D5FF43;
    border-radius: 8px;
    opacity: 1;
}
.logocuadro{
    position: absolute;
    top: 29px;
    left: 15px;
    width: 129px;
    height: 29px;
    background: transparent;
    background-repeat: no-repeat;
    opacity: 1;
}
.comprar{
    position: absolute;
    top: 40px;
    left: 25px;
    font-family:'OpenSans-Semibold';
    font-size: 27px;
    color: #000000;
    width: 111px;
    height: 36px;
    opacity: 1;
}
/*--------------------Rectangulo-----------------------------------*/
.rectangulo{
    position: absolute;
    background-color: #212020;
    top: 0;
    left: 1810px;
    width: 110px;
    height: 1080px;
    border-radius: 0px 8px 8px 0px;
    opacity: 1;
}
.up{
    position: absolute;
    top: 50px;
    left: 43px;
    width: 24px;
    height: 14px;
    background: transparent;
    background-repeat: no-repeat;
    opacity: 1;
}
.Cantidad{
    position: absolute;
    top: 220px;
    left: 14px;
    font-family:'OpenSans-Regular';
    font-size: 20px;
    color: #FFFFFF;
    width: 84px;
    height: 27px;
    opacity: 1;
}
.numeros{
    position: absolute;
    top: 460px;
    left: 40px;
    width: 40px;
    height: 200px;
    font-family:'OpenSans-Regular';
    font-size: 25px;
    align-items: center;
    color: #FFFFFF;
    opacity: 1;
}
.c1{
    position: absolute;
    bottom: 140px;
    left: 4px;
    color: #5b5252;
}
.c1:hover{
    color: #FFFFFF;
    cursor: pointer;
}
.c2{
    position: absolute;
    top: 60px;
    left: 4px;
}
.c3{
    position: absolute;
    top: 140px;
    left: 4px;
    color: #5b5252;
}
.c3:hover{
    color: #FFFFFF;
    cursor: pointer;
}
.down{
    position: absolute;
    bottom: 50px;
    left: 43px;
    width: 24px;
    height: 14px;
    background: transparent;
    background-repeat: no-repeat;
    opacity: 1;
}
/*-----------------------Pagina 2---------------------------*/
.linea2{
    position: absolute;
    width: 110px;
    top: 106px;
    left: 1496px;
    background: transparent;
    background-repeat: no-repeat;
    opacity: 1;
}
.tarjeta2{
    position: absolute;
    top: 250px;
    left: 600px;
    width: 576px;
    height: 324px;
    background: transparent;
    background-repeat: no-repeat;
    opacity: 1;
}
.tarjetapepito{
    position: absolute;
    top: 580px;
    left:555px ;
    width: 705px;
    height: 55px;
    font-family:'OpenSans-Semibold';
    font-size: 40px;
    color: #000000;
    opacity: 1;
}

.saldoactual{
    position: absolute;
    top: 680px;
    left:720px ;
    width: 329px;
    height: 37px;
    font-family:'OpenSans-Semibold';
    font-size: 27px;
    color: #000000;
    opacity: 1;
}
.saldoescogido{
    position: absolute;
    top: 760px;
    left:782px ;
    width: 200px;
    height: 37px;
    font-family:'OpenSans-Semibold';
    font-size: 27px;
    color: #000000;
    opacity: 1;
}
.saldo{
    position: absolute;
    top: 860px;
    left: 750px ;
    width: 258px;
    height: 58px;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
    font-family:'OpenSans-Semibold';
    font-size: 27px;
    color: #000000;
    text-align: center;
}
/*-----------------------rectangulo2---------------------------*/
.Valor{
    position: absolute;
    top: 220px;
    left: 35px;
    font-family:'OpenSans-Regular';
    font-size: 20px;
    color: #FFFFFF;
    width: 48px;
    height: 28px;
    opacity: 1;
}
.Precios{
    position: absolute;
    top: 460px;
    left: 26px;
    width: 58px;
    height: 200px;
    font-family:'OpenSans-Regular';
    font-size: 22px;
    align-items: center;
    color: #FFFFFF;
    opacity: 1;
}
.p1{
    position: absolute;
    bottom: 140px;
    color: #5b5252;
}
.p1:hover{
    color: #FFFFFF;
    cursor: pointer;
}
.p2{
    position: absolute;
    top: 64px;
}
.p3{
    position: absolute;
    top: 140px;
    color: #5b5252;
}
.p3:hover{
    color: #FFFFFF;
    cursor: pointer;
}