@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

body{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    
    background-image: url("images/fondo.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    color: #8E7AB5;
    font-size: 80px;
}
h2{
    width: 600px;
    height: 300px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 70px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #8E7AB5;
    font-size: 80px;
   
}
.link{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.table {
    border: 1px solid #BBC3A4;
    height: 90%;
    width: 90%;

}

th{
    font-size: 25px;
    background-color: #8E7AB5;
    color: white;
    border: 1px solid #BBC3A4;
    padding: 5px;
    text-align: center;
}
td{
    color: #4F4A45;
    border: 1px solid #BBC3A4;
    padding: 20px;
    text-align: justify;
}
