@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #1e1d2b;
    width: 1920px;
    font-family: "Poppins", sans-serif;
}
/*--------------------------Principal--------------------------------*/
.principal{
    box-sizing: border-box;
    height: 1080px;
}
.menu{
    position: absolute;
    width: 1920px;
    top: 15px;
    left: 0px;
    height: 80px;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 35px;
    top: 12px;
}
.foods{
    position: absolute;
    color: #ff702a;
    font-size: 60px;
    top: 1px;
    left: 110px;
}
.Home{
    position: absolute;
    left: 1100px;
}
.About{
    position: absolute;
    left: 1240px;
}
.Menu{
    position: absolute;
    left: 1385px;
}
.Service{
    position: absolute;
    left:  1520px;
}
.Contact{
    position: absolute;
    left: 1680px;
}
.Full{
    position: absolute;
    color: #ff702a;
    font-size: 130px;
    left: 150px;
    top: 190px;
}
.foodsthe{
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    top:480px;
    left:160px
}
.homa{
    position: absolute;
    left: 1000px;
    top: 220px;
    width: 750px;
    height: 750px;
    background: transparent;
    background-repeat: no-repeat;
    opacity: 1;
}
.todaymenu{
    position: absolute;
    color: #ffffff;
    font-size: 25px;
    background-color: #ff702a;
    top: 670px;
    left: 160px;
    width: 210px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
/*-------------------------division 2-------------------------------------------*/
.s2{
    position: relative;
    box-sizing: border-box;
    height: 1080px;
}
.aboutus{
    position: absolute;
    color: #ff702a;
    font-size: 30px;
    left: 1100px;
    top: 300px;
}
.we{
    position: absolute;
    color: #ffffff;
    font-size: 60px;
    top:320px;
    left:1100px
}
.Itis{
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    top:540px;
    left:1100px
}
.aboutmedia{position: absolute;
    left: 200px;
    top: 190px;
    width: 750px;
    height: 750px;
    background: transparent;
    background-repeat: no-repeat;
    opacity: 1;
}
.learn{
    position: absolute;
    color: #ffffff;
    font-size: 25px;
    background-color: #ff7d3c;
    top: 730px;
    left: 1100px;
    width: 170px;
    height: 50px;
    padding: 2px;
    line-height: 50px;
    text-align: center;
}
/*-------------------------division 3-------------------------------------------*/
.s3{
    position: relative;
    box-sizing: border-box;
    height: 1080px;
}
.foodmenu{
    position: absolute;
    color: #ff702a;
    font-size: 30px;
    left: 870px;
    top: 80px;
}
.fresh{
    position: absolute;
    color: #ffffff;
    font-size: 60px;
    top:110px;
    left:580px
}
.f1{
    position: absolute;
    box-sizing: border-box;
    bottom: 110px;
    left: 170px;
    width: 500px;
    height: 600px;
    background-color: #ffefe8;
    border: 9px double #3a3743;
}
.food1{
    position: absolute;
    top: 30px;
    left: 100px;
}
.chicken{
    position: absolute;
    color: #000000;
    top: 320px;
    left: 140px;
}
.tasty{
    position: absolute;
    color: #000000;
    top: 380px;
    left: 160px;
}
.precio{
    position: absolute;
    color: #ff702a;
    top: 430px;
    left: 210px;
}
.f2{
    position: absolute;
    box-sizing: border-box;
    bottom: 110px;
    left: 710px;
    width: 500px;
    height: 600px;
    background-color: #ffefe8;
    border: 9px double #3a3743;
}
.beef{
    position: absolute;
    color: #000000;
    top: 320px;
    left: 90px;
}
.f3{
    position: absolute;
    box-sizing: border-box;
    bottom: 110px;
    left: 1250px;
    width: 500px;
    height: 600px;
    background-color: #ffefe8;
    border: 9px double #3a3743;
}
.fry{
    position: absolute;
    color: #000000;
    top: 320px;
    left: 120px;
}
/*-------------------------division 4-------------------------------------------*/
.s4{
    position: relative;
    box-sizing: border-box;
    height: 1080px;
}
.services{
    position: absolute;
    color: #ff702a;
    font-size: 30px;
    left: 890px;
    top: 80px;
}
.provide{
    position: absolute;
    color: #ffffff;
    font-size: 60px;
    top:110px;
    left:545px
}
.sm1{
    position: absolute;
    bottom: 110px;
    left: 170px;
    width: 500px;
    height: 650px;
}
.sme1{
    position: absolute;
    top: 30px;
    left: 100px;
    width: 300px;
    height: 300px;
}
.order{
    position: absolute;
    color: #ff702a;
    font-size: 50px;
    top: 280px;
    left: 170px;
}
.shi{
    position: absolute;
    color: #ff702a;
    font-size: 50px;
    top: 280px;
    left: 140px;
}
.dellvered{
    position: absolute;
    color: #ff702a;
    font-size: 50px;
    top: 280px;
    left: 140px;
}
.long{
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    width: 500px;
    top: 400px;
    line-height: 50px;
    text-align: center;
}
.sm2{
    position: absolute;
    bottom: 110px;
    left: 710px;
    width: 500px;
    height: 650px;
}
.sm3{
    position: absolute;
    bottom: 110px;
    left: 1250px;
    width: 500px;
    height: 650px;
}
/*-------------------------division 5-------------------------------------------*/
.s5{
    position: relative;
    box-sizing: border-box;
    height: 1080px;
}
.square{
    position: absolute;
    background-color: #ffefe8;
    border: 20px double #3a3743;
    box-sizing: border-box;
    width: 1580px;
    height: 600px;
    top: 239px;
    left: 169px;

}
.make{
    position: absolute;
    color: #000000;
    font-size: 80px;
    width: 880px;
    top:25px;
    left:330px;
    text-align: center;
}
.more{
    position: absolute;
    color: #ffffff;
    font-size: 35px;
    background-color: #ff7d3c;
    top: 380px;
    left: 648px;
    width: 240px;
    height: 60px;
    padding: 2px;
    line-height: 60px;
    text-align: center;
}
/*-------------------------division 6-------------------------------------------*/
.s6{
    position: relative;
    box-sizing: border-box;
    height: 540px;
    color: #ffffff;
    font-size: 30px;
}
.c1{
    position: absolute;
    top: 20px;
    left: 316px;
}
h2{
    left: 3px;
}
.line{
    position: absolute;
    top: 110px;
    width: 120px;
    height: 5px;
    background-color: #ff702a;
    margin: 0px;
}
.list{
    list-style-type: none;
    padding: 0px;
}
.c2{
    position: absolute;
    top: 20px;
    left: 634px;
}
.c3{
    position: absolute;
    top: 20px;
    left: 1003px;
}
.c4{
    position: absolute;
    top: 20px;
    left: 1348px;
}
.circles{
    position: relative;
    width: 250px;
    height: 100px;
}
.circle1{
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    background-color: #ff702a;
    border-radius: 50%;
}
.circle2{
    position: absolute;
    top: 0px;
    left: 60px;
    width: 50px;
    height: 50px;
    background-color: #ff702a;
    border-radius: 50%;
}
.circle3{
    position: absolute;
    top: 0px;
    left: 120px;
    width: 50px;
    height: 50px;
    background-color: #ff702a;
    border-radius: 50%;
}
.circle4{
    position: absolute;
    top: 0px;
    left: 180px;
    width: 50px;
    height: 50px;
    background-color: #ff702a;
    border-radius: 50%;
}